<div class= body1>

<div *ngIf="pokemon" class= pokedex>
    <div>
        <label>Id: </label>
        <span>{{pokemon.id}}            <img style="z-index: 3; width: 100px;" src="{{pokemon.sprites.front_default}}"></span>
    </div>
    <div>
        <label>Name: </label>
        <span>{{pokemon.name}}</span>
    </div>
    <div>
        <label>Type: </label>
        <span> {{pokemon.types[0].type.name}}</span>
    </div>
    <div style="width: 500px;">
            <label>Move: </label>
            <span> {{pokemon.moves[0].move.name}}, {{pokemon.moves[1].move.name}}, {{pokemon.moves[2].move.name}}, {{pokemon.moves[3].move.name}}</span>
        </div>


        
</div>
</div>