@import '@angular/material/prebuilt-themes/deeppurple-amber.css';





.body1 {
    background-image: url(../assets/Pokedex.png);
    background-size: cover;
}

.pokedex {
    position: fixed;
    top: 260px;
    left: 50px;
}