@import '@angular/material/prebuilt-themes/deeppurple-amber.css';





.body1 {
    background-image: url(../assets/Pokedex.png);
    background-size: cover;
    height: 800px;
    width: 1200px;
    color: black;
}

.pokedex {
    position: relative;
    top: 215px;
    left: 50px;
}