@import '@angular/material/prebuilt-themes/deeppurple-amber.css';





.body {
    background-image: url(../assets/wallpaper.wiki-HD-All-Pokemon-Background-PIC-WPC005247.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.p {
    text-decoration-color: aliceblue;

}

formbox {
background-color: 211,211,211,.06;


}